@* File: Views/Account/ResetPasswordConfirmation.cshtml *@
@{
    ViewData["Title"] = "Đặt lại mật khẩu thành công";
}

<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <h2>Mật khẩu của bạn đã được đặt lại thành công.</h2>
        <p>
            Bạn có thể <a asp-controller="Account" asp-action="Login">click vào đây để đăng nhập</a> với mật khẩu mới của bạn.
        </p>
    </div>
</div>